.desktop {
    display: block;
}

.mobile {
    display: none;
}

.block {
    position: relative;
}

@media (max-width: 992px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}