/*разбораться почему подключение шрифта конфликтует с подключением фонового изображения*/
/*@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");*/
html{
    overflow: auto;
}

body{
    overflow-x: hidden;
    position: relative;
}

body a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #080C10 !important;
    color: #C18756 !important;
    font-family: var(--montserrat-font);
}

.mil-btn {
    color: #F9DC90;
    background-image: url("../public/img/btn-bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 324px;
    height: 74px;
    background-size: 100% 100%;
    border-radius: 20px;
    transition: 0.25s;
    font-size: 22px;
    text-transform: uppercase;
    background-position: center;
    background-color: #080C10;
}

.mil-btn:hover {
    background-image: url("../public/img/btn-bg.png"), linear-gradient(90deg, rgba(12, 15, 18, 1) 0%, rgba(87, 80, 58, 1) 100%);
}

.section_70 {
    padding: 70px 0;
}

.error {
    color: red;
}

.asterisk:after {
    color: red;
    content: "*";
    margin-left: 3px;
}

.site-heading {
    margin-bottom: 30px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.site-heading h4 {
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

.site-heading h2 {
    font-size: 30px;
    color: #001238;
    letter-spacing: 1px;
    margin-bottom: 15px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    display: inline-block;
}

.section-heading {
    color: #F9DC90;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 1200px) {
    html {
        font-size: 14px;
    }

    .mil-btn {
        width: 250px;
        height: 63px;
        font-size: 18px;
        background-size: 98% 98%;
    }

    .section-heading {
        font-size: 22px;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 12px;
    }
}

/*.container{*/
/*    border: solid 1px red;*/
/*}*/